PORT=5000
MONGO_URI=MONGO_URI=mongodb://abhimanirathnayake2009_db_user:o3tU8Ecf8p2SFnyv@ac-52ytcij-shard-00-00.w4ojhoa.mongodb.net:27017,ac-52ytcij-shard-00-01.w4ojhoa.mongodb.net:27017,ac-52ytcij-shard-00-02.w4ojhoa.mongodb.net:27017/Teacher360?ssl=true&replicaSet=atlas-scxb26-shard-0&authSource=admin&appName=Teacher360
JWT_SECRET=abcd1234
CLIENT_ORIGIN=http://localhost:5173
